* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #8ED2F5;
    padding: 30px 10px;
    position: relative;
    height: 180px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 10px 1px #5ba4c7;
}

header img {
    width: 300px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

header div {
    margin: 0 auto;
}

.div-pesquisa {
    display: flex;
    align-items: center;
    gap: 15px;
}

.div-pesquisa i {
    font-size: 25px;
}

.input-pesquisa {
    padding: 15px;
    border-radius: 10px;
    border: none;
    width: 700px;
    font-size: 18px;
}

@media (max-width: 768px) {

    header {
        height: auto;
        padding: 20px 10px;
        flex-direction: column;
        gap: 20px;
    }

    header img {
        position: static;
        transform: none;
        width: 200px;
    }

    .div-pesquisa {
        width: 100%;
        justify-content: center;
    }

    .input-pesquisa {
        width: 100%;
        font-size: 16px;
        padding: 12px;
    }

    .div-pesquisa i {
        font-size: 22px;
    }
}

@media (max-width: 1024px) {

    .input-pesquisa {
        width: 500px;
    }

    header img {
        width: 250px;
    }
}

@media (max-width: 1280px) {

    .input-pesquisa {
        width: 600px;
    }
}